
<div class="container" id="containerb">

<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @model.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @model.lastname %>
</p>

<p>
  <strong>Height:</strong>
  <%= @model.height %>
</p>

<p>
  <strong>Size:</strong>
  <%= @model.size %>
</p>

<p>
  <strong>Shoesize:</strong>
  <%= @model.shoesize %>
</p>

<p>
  <strong>Haircolor:</strong>
  <%= @model.haircolor %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @model.eyes %>
</p>

<p>
  <strong>Bust:</strong>
  <%= @model.bust %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @model.waist %>
</p>

<p>
  <strong>Hips:</strong>
  <%= @model.hips %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @model.phonenumber %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>

</div>