
<div class="container" id="containerb">

<% provide(:title, 'Sign up') %>

<h3>Sign up</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@client) do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true  %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :nameofcontact, 'Name of Contact' %>
      <%= f.text_field :nameofcontact %>

      <%= f.label :phonenumber, 'Phone Number' %>
      <%= f.text_field :phonenumber %>

      <%= f.label :mailingaddress, 'Mailing Address' %>
      <%= f.text_field :mailingaddress %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create new client", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>