<li id="project-<%= project.id %>">

  <span class="client"><%= link_to project.client.name, project.client %> </span> | 
  <span class="category"><%= project.location %></span> | 
  <%= link_to "view details", client_project_path(@client, project) %>
  <span class="timestamp">
    Created <%= time_ago_in_words(project.created_at) %> ago.
  </span>

</li>