

<div class="container" id="containerb">

<p class="attn"> Project Details </p>

<hr>
<br>

<div> Client Name: <%= @client.name %> </div>

<br>

<div> Project Created on: <%= @project.date %> </div>

<br>

<div> Client Representative: <%= @client.nameofcontact %> </div>

<br>

<div> Client ID: <%= @client.id %> </div>

<br>

<div> Project ID: <%= @project.id %> </div>

<br>

<div> Project Type: <%= @project.ctype %> </div>

<br>

<div> Project Location: <%= @project.location %> </div>

<br>

<div> Project Status: <%= @project.status %> </div>

<br>

<div> Payment Status: <%= @project.paymentstatus %> </div>

<br>
<br>
<div>
  <%= link_to "Add Photos to Project", new_photo_path(@client, @project), class: "btn btn-default btn-sm" %>

<%= link_to "View Photos", photo_path(@project), class: "btn btn-default btn-sm" %>

</div>

<br>

<%= link_to "Back to Client Profile page", client_path(@client), class: "btn btn-default btn-sm linktext" %> 
<%= link_to 'Delete', "#", method: :delete, data: { confirm: 'Deleting this project will also permanently delete all images associated with this project. Are you sure you wish to proceed?' }, class: "btn btn-danger btn-sm" %>

</div>

