<div class="container-fluid" id="container">

<div class="row">
  <div class="border type1">
  <div class="col-sm-6 col-md-4" id="test">
    <div class="thumbnail">
 
      <%= link_to (image_tag("Ayaan-1.jpg", rel: 'group1')) %>
  
      <div class="caption">
        <h5>Fashion</h5>
        <p>...</p>
        <p> </p>
      
       
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type2">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("Archi-1.jpg", rel: 'group1') %>
      <div class="caption">
        <h5>Architectural</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type1">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("Azwer.jpg") %>
      <div class="caption">
        <h5>Fashion</h5>
        <p>...</p>
        <span class="desc"> Client:</span> <span class="details"> Nishat Linen </span> <br><br>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type4">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Photojournalism</h5>
        <p>ou willthe test suite, go into Devise's top-level directory and run "bundle install" and "rake". For the tests to pass, you will need to have a MongoDB server (version 2.0 or newer) running on yo</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type5">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Industrial</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type1">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("AGP.jpg") %>
      <div class="caption">
        <h5>Fashion</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type3">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Portrait</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type5">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Industrial</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type5">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Industrial</h5>
        <p>ou will usually want to write tests for your changes. To rver (version 2.0 or newer) running on yo</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type4">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Photojournalism</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type3">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Portrait</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type3">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Portrait</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type1">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("Nadya-1.jpg") %>
      <div class="caption">
        <h5>Fashion</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type5">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Industrial</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="border type3">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://placehold.it/250x250") %>
      <div class="caption">
        <h5>Portrait</h5>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
  </div>
    </div>
  </div>
</div>

</div>
</div>
