


<div class="container-fluid" id="containeri">
  <% @projects.each do |x| %>
  <div class="Witem row thumbnail <%= x.ctype %>">

    <% x.photos.limit(1).each do |y| %>

    <%= image_tag(y.asset.url(:square)) %>

    <% end %>


     <h4 class="little" id="thumbnail-label"> <%= x.client.name %> </h4>

   </br>

    <div> Type: <%= x.ctype %> </div>
    <div> Location: <%= x.location %> </div>
  

  </br>
</br>


    <%= link_to "View Set", project_photo_path(x, x.photos), class: "btn btn-default btn-sm viewset" %>

  </br>
  <div class="whr">
  </div>


  </div> <!-- Project Div -->

   <% end %>

</div> <!-- Container-Fluid -->



<script>
// initialize Isotope
var $container = $('#containeri').isotope({
  itemSelector: '.Witem',
   masonry: {
    columnWidth: 225
  }
});
// layout Isotope again after all images have loaded
$container.imagesLoaded( function() {
  $container.isotope('layout');
});


$('#filters').on( 'click', 'button', function() {
  var filterValue = $(this).attr('data-filter');
  $container.isotope({ filter: filterValue });
});

</script>

