


<div class="container-fluid" id="containeri">
  
  <div class="item row thumbnail fashion">
      <%= image_tag("Azwer.jpg", size: "225x100", alt: "Edit Entry") %>
      <h4 class="little" id="thumbnail-label">Nida Azwer Atelier</h4>
      <p class="listnolist">Designer: Nida Azwer<br>
       Model: Fayezah Asad Ansari.</p>
      <%= link_to "View Set" %>
  </div>

  <div class="item row thumbnail fashion"> 

<%= image_tag("Nadya-1.jpg", size: "225x100", alt: "Edit Entry") %>
<h4 class="little" id="thumbnail-label">NH Pret</h4>
<p class="listnolist">Published: OK Pakistan<br>
 Model: Nadia Hussain.</p>
<%= link_to "View Set" %>

  </div>

  <div class="item row thumbnail architecture">

<%= image_tag("Archi-1.jpg", size: "225x100", alt: "Edit Entry") %>
<h4 class="little" id="thumbnail-label">Copper & Steel</h4>
<p class="listnolist">Location: Phase 8, Karachi<br>
 Property: Residential.</p>
<%= link_to "View Set" %>

  </div>

  <div class="item row thumbnail fashion">

<%= image_tag("Ayaan-1.jpg", size: "225x100", alt: "Edit Entry") %>
<h4 class="little" id="thumbnail-label">Maheen Khan</h4>
<p class="listnolist">Published: She Magazine<br>
 Designer: Maheen Khan.<br>
Model: Ayaan</p>
<%= link_to "View Set" %>

  </div>






</div> <!-- End of Container -->

<div id="filters" class="button-group">
   <button type="button" class="btn btn-link" data-filter="*">All</button>
  <button type="button" class="btn btn-link"  data-filter=".fashion">Fashion</button>
  <button type="button" class="btn btn-link"  data-filter=".architecture">Architecture</button>

</div>

<script>
// initialize Isotope
var $container = $('#containeri').isotope({
  itemSelector: '.item',
   masonry: {
    columnWidth: 50
  }
});
// layout Isotope again after all images have loaded
$container.imagesLoaded( function() {
  $container.isotope('layout');
});


$('#filters').on( 'click', 'button', function() {
  var filterValue = $(this).attr('data-filter');
  $container.isotope({ filter: filterValue });
});

</script>

