<!DOCTYPE html>
<html>
<head>
  <title>NTP | Nadir Toosy Photography </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>




<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="keywords" name="keywords" content="nadir toosy photography, nadir toosy, corporate photography karachi, corporate photography, photography studio karachi, photography studio, corporate event photography, fashion photography karachi, event coverage, portraits karachi,  industrial photography karachi, advertising photography, product photography, product photography karachi, catalogue photography" />
    <meta name="description" content="Nadir Toosy Photography is a full-service photography studio based in Karachi. Our concept-to-content services span the entire spectrum of static content creation. />

</head>
<body>

<header class="navbar navbar-fixed-top ">
 <div class="container-fluid">
    <%= link_to "Nadir Toosy Photography", home_path, id: "logo"   %>
    <nav>
      <ul class="nav navbar-nav navbar-right" id="36">

         <% if admin_signed_in? %>
        <li><%= link_to "Client Index",    clients_path %></li>
        <li><%= link_to "Admin Console",    console_path %></li>
        <% elsif client_signed_in? %>
        <li><%= link_to "My Profile",    current_client %></li>
        <% end %>
        <li><%= link_to "Home",    home_path %></li>
        <li><%= link_to "Clientele",    clientele_path %></li>
        <li><%= link_to "Work",    work_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</div>
<!--  <% flash.each do |key, value|%>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %> -->
<div>
     <% if admin_signed_in? %>
        <li><%= "Signed in as"%> <%= current_admin.email %> </li>
        <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
        <% else %>
        <!-- <li><%= link_to "Admin login", new_admin_session_path %></li> -->
          <% end %>
        </div>
    </header>

</div>
  <%= yield %>
<div class="container" id="bottomspacer">
  <hr class="footdivider">
</div>
      <%= render '/layouts/footer' %>
</div>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

</body>
</html>
