<!DOCTYPE html>
<html>
<head>
  <title>NTP | Nadir Toosy Photography </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>




<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>

<header class="navbar navbar-fixed-top ">
 <div class="container-fluid">
    <%= link_to "Nadir Toosy Photography", home_path, id: "logo"   %>
    <nav>
      <ul class="nav navbar-nav navbar-right" id="36">
        <li><%= link_to "Home",    home_path %></li>
        <li><%= link_to "Clientele",    clientele_path %></li>
        <li><%= link_to "Work",    work_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</div>
</header>

</div>
  <%= yield %>
<div class="container" id="bottomspacer">
  <hr class="footdivider">
</div>
      <%= render '/layouts/footer' %>
</div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

</body>
</html>
